.GuiAppbar {
  background-color: var(--primary-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  position: sticky;
  top: 0;
}

.GuiAppbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 1.5rem;
  white-space: nowrap;
}

.GuiAppbar__brand {
  display: flex;
  align-items: center;
  color: var(--text-white);
  cursor: pointer;

  h5 {
    font-family: "Cute Font", cursive;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }
}

.GuiAppbar__searchBar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  height: 4rem;
  overflow: hidden;

  input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-primary);
    background-color: var(--theme-color);
  }

  i {
    font-size: 2rem;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: var(--primary-highlight);
    color: var(--primary-main);
  }
}

.GuiAppbar__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--theme-color);
  font-size: 2.4rem;

  .GuiBadge-root {
    margin: 0.8rem 0.8rem 0 0.8rem;
    cursor: pointer;
  }

  button {
    font-weight: bold;

    &:hover {
      color: var(--text-white);
    }
  }

  .GuiIconButton-label i {
    font-size: 2.2rem;
    color: var(--theme-color);
  }
}

.GuiAppbar__menu__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  h6 {
    line-height: 2rem;
    font-weight: bold;
  }
}

.GuiAppbar__searchBar--bottom {
  display: none;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 4rem;
  overflow: hidden;

  input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-primary);
    background-color: var(--theme-color);
  }

  i {
    font-size: 2rem;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: var(--primary-highlight);
    color: var(--primary-main);
  }
}

@media screen and (max-width: 600px) {
  .GuiAppbar {
    border-bottom: 1px solid var(--primary-light);
  }

  .GuiAppbar__container {
    padding: 0 1rem;
  }

  .GuiAppbar__searchBar {
    display: none;
  }

  .GuiAppbar__searchBar--bottom {
    display: flex;

    input {
      font-size: 1.8rem;
    }

    i {
      font-size: 1.8rem;
    }
  }

  .GuiAppbar__menu {
    i {
      font-size: 2.2rem;
    }
  }
}
