.GsMobileFilters {
  display: none;
}

.GsProducts__sortBy {
  position: relative;
  display: inline-block;
}

.sortBy__dropdown {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.GsProducts__sortBy__options {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--body);
  min-width: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  z-index: 1;

  h6 {
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: var(--primary-highlight);
      color: var(--primary-main);
    }
  }
}

.GsProducts__sortBy:hover .GsProducts__sortBy__options {
  display: block;
}

.GsFiltersModel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 10px;
  background-color: var(--body);
  border-top: 1px solid var(--text-disabled);
  z-index: 1;
  transition: all 0.5s ease-in-out;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.GsModel--Show {
  height: 80%;
  padding: 1rem;
}

.GsFiltersModel__close {
  float: right;
}
