@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

.GuiContainer {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1800px;
}
